
#container {  background-color:grey; margin:20px; width:1000px; height:650px; padding:15px;
    position:relative;

}

#logo { position:absolute;
	top:10px;
	align:center;
	
}
li {float:left;
	width:25%;
	list-style-type:none;
	
}


header {font-family:times;
	font-style:bold;
}
body{font-family:times;
}
h2{font-family:times;
	font-style:bold;
}
footer {font-family:times;
		font-size:.5em;
}

 body {float:right;
	 width:47%;
 }
section {float:left;
	 width:47%;
 }
 nav{font-style:bold;}